<include file="Public/header"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/index_aio.min.css">
<!--main start=============主体-->
<div class="container-fluid container-fluid-discovery">
	<div class="container" style="margin-top:0px;">
		<div class="row">
			<div class="col-2-left">
                <span ><img src="__PUBLIC__/images/faxian.png" width="30" height="45"/></span>
                <span class="discovery-slogan">
                <span>发现</span>
                <span class="text-label">&nbsp;•&nbsp;最优质的创业公司</span></span>
                <span class="pull-right">
                    <a class="btn btn-primary" href="">了解更多</a>&nbsp;
                    <a class="btn btn-primary js-discovery-to-apply" href="">申请报道</a>
                </span>
            </div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-9 col-2-left">
			<ul class="discovery-list">
				<li class="discovery-list-item"><h3><a href="__URL__/info">礼物说：牛逼的人不怕质疑，也从来不会停止学习</a></h3>
					<p class="text-label pull-group">
                    <span class="pull-right">查看次数：&nbsp;3585</span>
                    <span class="pull-right" style="margin-right:50px;">2014-12-12</span>
                    </p>

					<p>
						<a href="__URL__/info"><img src="__PUBLIC__/images/76d6b02395bfecc13405e8c3557862ede07d3480.jpg@780w_380h_1c_1e_80Q.jpg"/></a></p>

					<p style="text-align:left;">长期读书和实干中自成一体的思想和方法论，是学术派也是实干家，不爱吐槽不爱寒暄喜欢直接珍惜时间不弄虚作假。牛逼的人不怕质疑，不怕首当其冲，也从来不会停止学习。&nbsp;<a class="text-primary" href="__URL__/info">阅读全文</a></p>
                </li>
				<li class="discovery-list-item"><h3><a href="__URL__/info">节操精选：不一定改变世界，但一定改变了什么……</a></h3>

					<p class="text-label pull-group">
                    <span class="pull-right">查看次数：&nbsp;3585</span>
                    <span class="pull-right" style="margin-right:50px;">2014-12-12</span>
                    </p>
					<p>
						<a href="__URL__/info"><img src="__PUBLIC__/images/989f58a5a1753278266fda8ec74efd87998fae4b.jpg@780w_380h_1c_1e_80Q.jpg"/></a></p>

					<p style="text-align:left;">让新人有成长，让有经验的人有平台发挥、带团队并且有上升的空间，团队和公司是共同成长的良性状态。&nbsp;
                    <a class="text-primary" href="__URL__/info">阅读全文</a></p>
                </li>
				<li class="discovery-list-item"><h3><a href="__URL__/info">她理财，让财富管理不再有门槛</a></h3>

					<p class="text-label pull-group">
                    <span class="pull-right">查看次数：&nbsp;3585</span>
                    <span class="pull-right" style="margin-right:50px;">2014-12-12</span>
                    </p>
					<p>
						<a href="__URL__/info"><img src="__PUBLIC__/images/82cc74ff61c3f9ed9df00c08bac4cf4d3218301d.jpg@780w_380h_1c_1e_80Q.jpg"/></a></p>

					<p style="text-align:left;">通过互联网的方式了解到理财者的信息和需求，降低理财服务成本，使理财服务这件事情普及到大众阶层，让财富管理不再有门槛。用技术实现自动化、智能化、个性化的服务，为这个行业带来一些新的东西。&nbsp;
                    <a class="text-primary" href="__URL__/info">阅读全文</a></p>
                </li>
				<li class="discovery-list-item"><h3><a href="__URL__/info" tppabs="http://www.jobtong.com/faxian/1014">狗民网：狗与爱的世界</a></h3>

					<p class="text-label pull-group">
                    <span class="pull-right">查看次数：&nbsp;3585</span>
                    <span class="pull-right" style="margin-right:50px;">2014-12-12</span>
                    </p>
					<p>
						<a href="__URL__/info"><img src="__PUBLIC__/images/f5c8d0b3c9845b674d213d67e0bba264b8e93641.jpg@780w_380h_1c_1e_80Q.jpg"/></a></p>

					<p style="text-align:left;">对于爱狗人士，狗民网绝对是一个值得重点考虑的选择对象：宠物用品的购买渠道得到了解决，摇身变成养宠专家不是梦，为爱宠服务，每天都被萌的软软哒。若对狗没那么感冒，但看好宠物行业的发展，看好移动端社区化平台的未来走势，狗民网也是一个两者结合的绝佳选择。&nbsp;
                    <a class="text-primary" href="__URL__/info">阅读全文</a></p>
                </li>
			</ul>
		</div>
		<div class="col-xs-3 col-2-right">
			<ul class="list-unstyled discovery-category-list" data-spy="affix" data-offset-top="120">
				<li><a class="text-primary" style="text-align:left;" href="index.html">全部分类</a></li>
				<li><a class="text-label" style="text-align:left;" href="">互联网</a></li>
				<li><a class="text-label" style="text-align:left;" href="">移动互联网</a></li>
				<li><a class="text-label" style="text-align:left;" href="">新媒体</a></li>
				<li><a class="text-label" style="text-align:left;" href="">金融</a></li>
			</ul>
		</div>
	</div>
</div>
<!--main end=============主体-->
<!--footer start=============底部-->
<include file="Public/footer"/>