<include file="Public/header"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/index_aio.min.css">
<!--main start=============主体-->
<div class="container">
	<div class="row">
		<div class="col-xs-9 col-2-left discovery" style="padding-bottom:20px;">
            <h3>礼物说：牛逼的人不怕质疑，也从来不会停止学习</h3>
			<p class="text-label pull-group">
                <span class="pull-right">查看次数：&nbsp;3585</span>
                <span class="pull-right" style="margin-right:50px;">2014-12-12</span>
            </p>

			<div class="discovery-content">
				<div class="discovery-editor-content" id="js-content-editor">
					<p>
						<!--原页面此处是一个分针，用于做视频播放的，看是否改为多图切换或去掉。
                        <iframe frameborder="0"width="780" height="480" src="../../v.qq.com/iframe/job-city=0&industry=10&category=3&salary=0&degree=0&experience=0&order=&keyword=" tppabs="http://v.qq.com/iframe/player.html?vid=s0142lqslla&tiny=0&auto=0" allowfullscreen="">
                        </iframe>-->
                        <img src="__PUBLIC__/images/167511875777b73fb90aea398d708fec78b1bf45.jpg" title="1418362453207533.jpg" style="white-space: normal;"/>
					</p>
					<h1 label="标题居左" style="font-size: 32px; font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid; padding: 0px 4px 0px 0px; text-align: left; margin: 0px 0px 10px;">关于礼物说</h1>

					<p><strong><img src="__PUBLIC__/images/167511875777b73fb90aea398d708fec78b1bf45.jpg" title="1418362453207533.jpg"
					                style="white-space: normal;"/></strong></p>

					<p><strong>坐标：</strong>北京 中关村<br/></p>

					<p><strong>团队：</strong>二十多人</p>

					<p><strong>关键词：</strong> 90后 实干 学术 高效 诚信&nbsp;</p>

					<p><strong>适合人群：</strong>热衷学习、崇尚诚信，对时间管理和自我管理有追求的小伙伴</p>

					<h1 label="标题居左" style="font-size: 32px; font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid; padding: 0px 4px 0px 0px; text-align: left; margin: 0px 0px 10px;">不诚信的读书人不是好的创业者</h1>

					<p><img src="__PUBLIC__/images/167511875777b73fb90aea398d708fec78b1bf45.jpg" title="1418362429759889.jpg" style="white-space: normal;"/>
					</p>

					<p>潮汕地区素来以从商闻名，同时也有极好的文化氛围，潮汕人对知识非常尊重和崇尚，李嘉诚就是潮汕地区出来的，礼物说CEO温城辉也是个土生土长的潮汕人。</p>

					<p>温城辉把礼物说的管理比喻成一个班级，他说，大家来这里是学东西的，都不可能在这里很多年的，包括我自己。在同一艘船上学东西，然后一起推动着这条船往前走。要意识到我们是一段时间的同伴，如果没有这个意识很快就会变成混日子。如果你的月薪是1w，一年是12w，这12w根本没什么，但是最重要的是你花了一年的青春，这一年你能学到多少东西。</p>

					<p>我问他对成功的定义是什么，他说关于成功，还没有能够打动他的说法，开心就好，目前他希望是大家都能做自己想做的事情。</p>

					<p>大学期间开发手绘明信片产品，策划校园推广，明信片覆盖全广州，如果你去过广州，买过明信片，十有八九就会买中他的产品。后来大二休学创业，组团队推出“贴贴二维码”“贴贴明信片”，一直到他现在做礼物说，每一次都是全新的开始，勇敢的尝试，这些对于他来说，其实都是“想做的事情”而已。当你下决心“做自己想做的事情”，转身就可以开始做了。很多人拿父母做挡箭牌，拿“现实”说事，拿理想开涮。“其实很多时候，是你自己不敢而已”温城辉这样说。</p>

					<h1 label="标题居左" style="font-size: 32px; font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid; padding: 0px 4px 0px 0px; text-align: left; margin: 0px 0px 10px;">对话礼物说</h1>

					<p><img src="__PUBLIC__/images/167511875777b73fb90aea398d708fec78b1bf45.jpg" title="1418362434326397.jpg" style="white-space: normal;"/>
					</p>

					<p><strong>周伯通：对公司未来发展的期望？</strong></p>
					<blockquote><p><span style="text-decoration: underline;"><strong>温城辉（创始人&amp;CEO）</strong></span>：四五年内做上市，没有别的路。疯狂跑，一年一轮融资。跟聚美会有点像，都是垂直电商。</p></blockquote>
					
					<p><strong>周伯通：为什么选择礼物说？</strong></p>
					<blockquote><p><strong><span style="text-decoration: underline;">Anna：</span></strong>接触到城辉很谈得来，另外就是他很信任我，其次就是他给我看到他对于以后公司发展的想法和思路，对于一个93年的人，跟我差了6岁，他自己很有想法，很有目标性，跟我讲公司架构、以后的发展，整个的逻辑是很清晰的。还有就是，有一个平台能够让你放手去尝试做一些事情这些在大企业都是不可能实现的。</p></blockquote>
					<blockquote><p><span style="text-decoration: underline;"><strong>张涛（HR）</strong></span>：为了自己的发展。我很看好城辉，也很看好礼物说，在城辉创业做明信片的时候我就关注过。我觉得，跟对人做对事，才能得到发展。</p></blockquote>
					<h1 label="标题居左" style="font-size: 32px; font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid; padding: 0px 4px 0px 0px; text-align: left; margin: 0px 0px 10px;">礼物说福利</h1>

					<p><img src="__PUBLIC__/images/167511875777b73fb90aea398d708fec78b1bf45.jpg" title="1418362424752470.jpg" style="white-space: normal;"/>
					</p>

					<p>学习学习学习，机会氛围小伙伴一个不少。买书公司全额报销，无上限！</p>

					<h1 label="标题居左" style="font-size: 32px; font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid; padding: 0px 4px 0px 0px; text-align: left; margin: 0px 0px 10px;">礼物说真相</h1>
					
					<p><img src="__PUBLIC__/images/b0107ddae6a8c4e3bae2e4affa24fc29d887e17b.jpg" title="1418362422366005.jpg"
					        style="white-space: normal;"/></p>

					<p>（记者/张卓群 摄影/邱瑞 视频/Sktyer Media）</p></div>
				<ul class="job-list-simple">
					<li class="job-item"><a href="/job/ffa614b2de71e61552a49fae04e33cd7"><span class="text-highlight salary">￥4,000 - 7,000</span><span class="title">媒介运营专员</span>

						<p class="text-label">1年以上工作经验&nbsp;
							专科</p></a></li>
					<li class="job-item"><a href="/job/74cd602661032df0a3c82d8be3b40cf5"><span class="text-highlight salary">￥7,000 - 12,000</span><span class="title">UI设计师</span>

						<p class="text-label">2年以上工作经验&nbsp;
							专科</p></a></li>
				</ul>
				<p class="text-right"><a href="" target="_blank">查看全部职位</a></p></div>
			
			<hr/>
			<div class="clearfix">
				<div class="pull-left wei-user-logo"><a href="" target="_blank"><img class="img-border img-link" src="__PUBLIC__/images/9bf1171ad29c66275ea056a7e8b40d2c14a98270.png" alt="北京礼物说科技有限公司Logo"></a>
                </div>
				<h3 class="ellipsis"><a href="" target="_blank">礼物说（北京礼物说科技有限公司）</a></h3>

				<p class="text-label">全公司标配MacBook翻墙办公，团队年轻扁平化，没有纷争没有困惑，大家都是好伙伴^_^就等你的加入啦~</p></div>
			<hr/>
			<!--评论 start-->
            <include file="Public/comment"/>
            <!--评论 end-->
        </div>
        <!--详情页右侧菜单 start-->
        <include file="Public/newsInfo"/>
        <!--详情页右侧菜单 end-->
    </div>
    
</div>

<!--main end=============主体-->
<include file="Public/footer"/>