<include file="Public/header"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/index_aio.min.css">
<!--main start=============主体-->
<div class="job-category-widget ">
    <ul class="category-list">
							<li class="category-list-item"><h4 class="category-title"><a href="job-category=1.htm" tppabs="http://www.jobtong.com/job?category=1">技术类</a></h4>
								<ul class="category-title-list">
									<li><a class="text-label" href="job-category=11.htm" tppabs="http://www.jobtong.com/job?category=11">PHP</a></li>
									<li><a class="text-label" href="job-category=31.htm" tppabs="http://www.jobtong.com/job?category=31">iOS</a></li>
									<li><a class="text-label" href="job-category=30.htm" tppabs="http://www.jobtong.com/job?category=30">Android</a></li>
									<li><a class="text-label" href="job-category=9.htm" tppabs="http://www.jobtong.com/job?category=9">Java</a></li>
								</ul>
								<div class="right-indicator"><i class="text-muted fa">></i></div>
								<ul class="sub-category-list">
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=2.htm" tppabs="http://www.jobtong.com/job?category=2">后端开发</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=11.htm" tppabs="http://www.jobtong.com/job?category=11">PHP</a></li>
											<li><a class="text-label" href="job-category=9.htm" tppabs="http://www.jobtong.com/job?category=9">Java</a></li>
											<li><a class="text-label" href="job-category=10.htm" tppabs="http://www.jobtong.com/job?category=10">Python</a></li>
											<li><a class="text-label" href="job-category=12.htm" tppabs="http://www.jobtong.com/job?category=12">.NET</a></li>
											<li><a class="text-label" href="job-category=13.htm" tppabs="http://www.jobtong.com/job?category=13">C#</a></li>
											<li><a class="text-label" href="job-category=14.htm" tppabs="http://www.jobtong.com/job?category=14">C/C++</a></li>
											<li><a class="text-label" href="job-category=169.htm" tppabs="http://www.jobtong.com/job?category=169">Ruby</a></li>
											<li><a class="text-label" href="job-category=188.htm" tppabs="http://www.jobtong.com/job?category=188">hadoop</a></li>
											<li><a class="text-label" href="job-category=199.htm" tppabs="http://www.jobtong.com/job?category=199">node.js</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=3.htm" tppabs="http://www.jobtong.com/job?category=3">前端开发</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=23.htm" tppabs="http://www.jobtong.com/job?category=23">Web前端</a></li>
											<li><a class="text-label" href="job-category=24.htm" tppabs="http://www.jobtong.com/job?category=24">Flash</a></li>
											<li><a class="text-label" href="job-category=25.htm" tppabs="http://www.jobtong.com/job?category=25">HTML5</a></li>
											<li><a class="text-label" href="job-category=26.htm" tppabs="http://www.jobtong.com/job?category=26">JS</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=4.htm" tppabs="http://www.jobtong.com/job?category=4">移动开发</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=29.htm" tppabs="http://www.jobtong.com/job?category=29">HTML5</a></li>
											<li><a class="text-label" href="job-category=30.htm" tppabs="http://www.jobtong.com/job?category=30">Android</a></li>
											<li><a class="text-label" href="job-category=31.htm" tppabs="http://www.jobtong.com/job?category=31">iOS</a></li>
											<li><a class="text-label" href="job-category=32.htm" tppabs="http://www.jobtong.com/job?category=32">Windows Phone</a></li>
											<li><a class="text-label" href="job-category=170.htm" tppabs="http://www.jobtong.com/job?category=170">COCOS2D-X</a></li>
											<li><a class="text-label" href="job-category=171.htm" tppabs="http://www.jobtong.com/job?category=171">Unity3D</a></li>
											<li><a class="text-label" href="job-category=196.htm" tppabs="http://www.jobtong.com/job?category=196">Swift</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=5.htm" tppabs="http://www.jobtong.com/job?category=5">系统/数据库</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=33.htm" tppabs="http://www.jobtong.com/job?category=33">系统运维工程师</a></li>
											<li><a class="text-label" href="job-category=35.htm" tppabs="http://www.jobtong.com/job?category=35">数据库管理员</a></li>
											<li><a class="text-label" href="job-category=36.htm" tppabs="http://www.jobtong.com/job?category=36">数据库开发</a></li>
											<li><a class="text-label" href="job-category=189.htm" tppabs="http://www.jobtong.com/job?category=189">数据挖掘</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=7.htm" tppabs="http://www.jobtong.com/job?category=7">测试</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=43.htm" tppabs="http://www.jobtong.com/job?category=43">软件测试工程师</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=8.htm" tppabs="http://www.jobtong.com/job?category=8">技术管理</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=44.htm" tppabs="http://www.jobtong.com/job?category=44">技术经理</a></li>
											<li><a class="text-label" href="job-category=45.htm" tppabs="http://www.jobtong.com/job?category=45">技术总监</a></li>
											<li><a class="text-label" href="job-category=46.htm" tppabs="http://www.jobtong.com/job?category=46">项目经理</a></li>
											<li><a class="text-label" href="job-category=48.htm" tppabs="http://www.jobtong.com/job?category=48">系统架构师</a></li>
											<li><a class="text-label" href="job-category=49.htm" tppabs="http://www.jobtong.com/job?category=49">CTO</a></li>
										</ul>
									</li>
								</ul>
								<div class="mask"></div>
							</li>
							<li class="category-list-item"><h4 class="category-title"><a href="job-category=50.htm" tppabs="http://www.jobtong.com/job?category=50">产品类</a></h4>
								<ul class="category-title-list">
									<li><a class="text-label" href="job-category=172.htm" tppabs="http://www.jobtong.com/job?category=172">产品总监</a></li>
									<li><a class="text-label" href="job-category=54.htm" tppabs="http://www.jobtong.com/job?category=54">产品经理</a></li>
									<li><a class="text-label" href="job-category=57.htm" tppabs="http://www.jobtong.com/job?category=57">产品助理</a></li>
								</ul>
								<div class="right-indicator"><i class="text-muted fa">></i></div>
								<ul class="sub-category-list">
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=51.htm" tppabs="http://www.jobtong.com/job?category=51">产品经理</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=54.htm" tppabs="http://www.jobtong.com/job?category=54">产品经理</a></li>
											<li><a class="text-label" href="job-category=55.htm" tppabs="http://www.jobtong.com/job?category=55">Web产品经理</a></li>
											<li><a class="text-label" href="job-category=56.htm" tppabs="http://www.jobtong.com/job?category=56">移动产品经理</a></li>
											<li><a class="text-label" href="job-category=57.htm" tppabs="http://www.jobtong.com/job?category=57">产品助理/专员</a></li>
											<li><a class="text-label" href="job-category=172.htm" tppabs="http://www.jobtong.com/job?category=172">产品总监</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=52.htm" tppabs="http://www.jobtong.com/job?category=52">产品设计师</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=62.htm" tppabs="http://www.jobtong.com/job?category=62">网页产品设计师</a></li>
											<li><a class="text-label" href="job-category=63.htm" tppabs="http://www.jobtong.com/job?category=63">客户端设计师</a></li>
											<li><a class="text-label" href="job-category=64.htm" tppabs="http://www.jobtong.com/job?category=64">移动产品设计师</a></li>
											<li><a class="text-label" href="job-category=65.htm" tppabs="http://www.jobtong.com/job?category=65">高级产品设计师</a></li>
										</ul>
									</li>
								</ul>
								<div class="mask"></div>
							</li>
							<li class="category-list-item"><h4 class="category-title"><a href="job-category=68.htm" tppabs="http://www.jobtong.com/job?category=68">设计类</a></h4>
								<ul class="category-title-list">
									<li><a class="text-label" href="job-category=173.htm" tppabs="http://www.jobtong.com/job?category=173">设计总监</a></li>
									<li><a class="text-label" href="job-category=76.htm" tppabs="http://www.jobtong.com/job?category=76">UI设计</a></li>
									<li><a class="text-label" href="job-category=93.htm" tppabs="http://www.jobtong.com/job?category=93">交互设计师</a></li>
								</ul>
								<div class="right-indicator"><i class="text-muted fa">></i></div>
								<ul class="sub-category-list">
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=69.htm" tppabs="http://www.jobtong.com/job?category=69">视觉设计</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=73.htm" tppabs="http://www.jobtong.com/job?category=73">网页设计师</a></li>
											<li><a class="text-label" href="job-category=74.htm" tppabs="http://www.jobtong.com/job?category=74">Flash设计师</a></li>
											<li><a class="text-label" href="job-category=75.htm" tppabs="http://www.jobtong.com/job?category=75">APP设计师</a></li>
											<li><a class="text-label" href="job-category=76.htm" tppabs="http://www.jobtong.com/job?category=76">UI设计师</a></li>
											<li><a class="text-label" href="job-category=77.htm" tppabs="http://www.jobtong.com/job?category=77">平面设计师</a></li>
											<li><a class="text-label" href="job-category=81.htm" tppabs="http://www.jobtong.com/job?category=81">原画师</a></li>
											<li><a class="text-label" href="job-category=173.htm" tppabs="http://www.jobtong.com/job?category=173">设计总监</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=71.htm" tppabs="http://www.jobtong.com/job?category=71">交互设计</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=92.htm" tppabs="http://www.jobtong.com/job?category=92">网页交互设计师</a></li>
											<li><a class="text-label" href="job-category=93.htm" tppabs="http://www.jobtong.com/job?category=93">交互设计师</a></li>
											<li><a class="text-label" href="job-category=94.htm" tppabs="http://www.jobtong.com/job?category=94">移动交互设计师</a></li>
										</ul>
									</li>
								</ul>
								<div class="mask"></div>
							</li>
							<li class="category-list-item"><h4 class="category-title"><a href="job-category=99.htm" tppabs="http://www.jobtong.com/job?category=99">运营/编辑类</a></h4>
								<ul class="category-title-list">
									<li><a class="text-label" href="job-category=183.htm" tppabs="http://www.jobtong.com/job?category=183">运营总监</a></li>
									<li><a class="text-label" href="job-category=106.htm" tppabs="http://www.jobtong.com/job?category=106">社区运营</a></li>
									<li><a class="text-label" href="job-category=114.htm" tppabs="http://www.jobtong.com/job?category=114">内容编辑</a></li>
								</ul>
								<div class="right-indicator"><i class="text-muted fa">></i></div>
								<ul class="sub-category-list">
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=102.htm" tppabs="http://www.jobtong.com/job?category=102">内容运营</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=106.htm" tppabs="http://www.jobtong.com/job?category=106">社区运营</a></li>
											<li><a class="text-label" href="job-category=104.htm" tppabs="http://www.jobtong.com/job?category=104">微信运营</a></li>
											<li><a class="text-label" href="job-category=107.htm" tppabs="http://www.jobtong.com/job?category=107">微博运营</a></li>
											<li><a class="text-label" href="job-category=108.htm" tppabs="http://www.jobtong.com/job?category=108">线下拓展运营</a></li>
											<li><a class="text-label" href="job-category=110.htm" tppabs="http://www.jobtong.com/job?category=110">游戏运营</a></li>
											<li><a class="text-label" href="job-category=111.htm" tppabs="http://www.jobtong.com/job?category=111">网络推广</a></li>
											<li><a class="text-label" href="job-category=183.htm" tppabs="http://www.jobtong.com/job?category=183">运营总监</a></li>
											<li><a class="text-label" href="job-category=195.htm" tppabs="http://www.jobtong.com/job?category=195">策略运营</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=112.htm" tppabs="http://www.jobtong.com/job?category=112">编辑</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=114.htm" tppabs="http://www.jobtong.com/job?category=114">内容编辑</a></li>
											<li><a class="text-label" href="job-category=115.htm" tppabs="http://www.jobtong.com/job?category=115">文案策划</a></li>
											<li><a class="text-label" href="job-category=182.htm" tppabs="http://www.jobtong.com/job?category=182">主编</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=198.htm" tppabs="http://www.jobtong.com/job?category=198">SEO优化</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=200.htm" tppabs="http://www.jobtong.com/job?category=200">SEO优化</a></li>
										</ul>
									</li>
								</ul>
								<div class="mask"></div>
							</li>
							<li class="category-list-item"><h4 class="category-title"><a href="job-category=100.htm" tppabs="http://www.jobtong.com/job?category=100">市场/销售类</a></h4>
								<ul class="category-title-list">
									<li><a class="text-label" href="job-category=138.htm" tppabs="http://www.jobtong.com/job?category=138">销售经理</a></li>
									<li><a class="text-label" href="job-category=137.htm" tppabs="http://www.jobtong.com/job?category=137">销售专员</a></li>
									<li><a class="text-label" href="job-category=125.htm" tppabs="http://www.jobtong.com/job?category=125">市场营销</a></li>
								</ul>
								<div class="right-indicator"><i class="text-muted fa">></i></div>
								<ul class="sub-category-list">
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=122.htm" tppabs="http://www.jobtong.com/job?category=122">市场营销</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=123.htm" tppabs="http://www.jobtong.com/job?category=123">市场策划专员</a></li>
											<li><a class="text-label" href="job-category=125.htm" tppabs="http://www.jobtong.com/job?category=125">市场营销</a></li>
											<li><a class="text-label" href="job-category=126.htm" tppabs="http://www.jobtong.com/job?category=126">市场推广</a></li>
											<li><a class="text-label" href="job-category=127.htm" tppabs="http://www.jobtong.com/job?category=127">SEO</a></li>
											<li><a class="text-label" href="job-category=128.htm" tppabs="http://www.jobtong.com/job?category=128">SEM</a></li>
											<li><a class="text-label" href="job-category=179.htm" tppabs="http://www.jobtong.com/job?category=179">市场总监</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=132.htm" tppabs="http://www.jobtong.com/job?category=132">公关</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=133.htm" tppabs="http://www.jobtong.com/job?category=133">媒介经理</a></li>
											<li><a class="text-label" href="job-category=134.htm" tppabs="http://www.jobtong.com/job?category=134">广告协调</a></li>
											<li><a class="text-label" href="job-category=135.htm" tppabs="http://www.jobtong.com/job?category=135">品牌公关</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=136.htm" tppabs="http://www.jobtong.com/job?category=136">销售</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=137.htm" tppabs="http://www.jobtong.com/job?category=137">销售专员</a></li>
											<li><a class="text-label" href="job-category=138.htm" tppabs="http://www.jobtong.com/job?category=138">销售经理</a></li>
											<li><a class="text-label" href="job-category=139.htm" tppabs="http://www.jobtong.com/job?category=139">客户代表</a></li>
											<li><a class="text-label" href="job-category=140.htm" tppabs="http://www.jobtong.com/job?category=140">大客户代表</a></li>
											<li><a class="text-label" href="job-category=141.htm" tppabs="http://www.jobtong.com/job?category=141">BD经理</a></li>
											<li><a class="text-label" href="job-category=143.htm" tppabs="http://www.jobtong.com/job?category=143">渠道销售</a></li>
											<li><a class="text-label" href="job-category=180.htm" tppabs="http://www.jobtong.com/job?category=180">销售总监</a></li>
										</ul>
									</li>
								</ul>
								<div class="mask"></div>
							</li>
							<li class="category-list-item"><h4 class="category-title"><a href="job-category=101.htm" tppabs="http://www.jobtong.com/job?category=101">职能类</a></h4>
								<ul class="category-title-list">
									<li><a class="text-label" href="job-category=154.htm" tppabs="http://www.jobtong.com/job?category=154">人事专员</a></li>
									<li><a class="text-label" href="job-category=185.htm" tppabs="http://www.jobtong.com/job?category=185">客服代表</a></li>
									<li><a class="text-label" href="job-category=158.htm" tppabs="http://www.jobtong.com/job?category=158">助理</a></li>
								</ul>
								<div class="right-indicator"><i class="text-muted fa">></i></div>
								<ul class="sub-category-list">
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=150.htm" tppabs="http://www.jobtong.com/job?category=150">人力资源</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=154.htm" tppabs="http://www.jobtong.com/job?category=154">人事专员</a></li>
											<li><a class="text-label" href="job-category=177.htm" tppabs="http://www.jobtong.com/job?category=177">招聘经理</a></li>
											<li><a class="text-label" href="job-category=178.htm" tppabs="http://www.jobtong.com/job?category=178">人事主管</a></li>
											<li><a class="text-label" href="job-category=174.htm" tppabs="http://www.jobtong.com/job?category=174">HRD</a></li>
											<li><a class="text-label" href="job-category=193.htm" tppabs="http://www.jobtong.com/job?category=193">薪酬经理</a></li>
											<li><a class="text-label" href="job-category=194.htm" tppabs="http://www.jobtong.com/job?category=194">培训经理</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=151.htm" tppabs="http://www.jobtong.com/job?category=151">行政</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=158.htm" tppabs="http://www.jobtong.com/job?category=158">助理</a></li>
											<li><a class="text-label" href="job-category=159.htm" tppabs="http://www.jobtong.com/job?category=159">前台</a></li>
											<li><a class="text-label" href="job-category=161.htm" tppabs="http://www.jobtong.com/job?category=161">行政</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=152.htm" tppabs="http://www.jobtong.com/job?category=152">财务</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=162.htm" tppabs="http://www.jobtong.com/job?category=162">会计</a></li>
											<li><a class="text-label" href="job-category=163.htm" tppabs="http://www.jobtong.com/job?category=163">出纳</a></li>
											<li><a class="text-label" href="job-category=164.htm" tppabs="http://www.jobtong.com/job?category=164">财务</a></li>
											<li><a class="text-label" href="job-category=175.htm" tppabs="http://www.jobtong.com/job?category=175">CFO</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=184.htm" tppabs="http://www.jobtong.com/job?category=184">客服</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=185.htm" tppabs="http://www.jobtong.com/job?category=185">客服代表</a></li>
											<li><a class="text-label" href="job-category=186.htm" tppabs="http://www.jobtong.com/job?category=186">售前咨询</a></li>
											<li><a class="text-label" href="job-category=187.htm" tppabs="http://www.jobtong.com/job?category=187">售后咨询</a></li>
										</ul>
									</li>
									<li class="sub-category-list-item"><h4 class="category-title"><a href="job-category=190.htm" tppabs="http://www.jobtong.com/job?category=190">法务</a></h4>
										<ul class="category-title-list">
											<li><a class="text-label" href="job-category=191.htm" tppabs="http://www.jobtong.com/job?category=191">法务专员</a></li>
											<li><a class="text-label" href="job-category=192.htm" tppabs="http://www.jobtong.com/job?category=192">法务经理</a></li>
										</ul>
									</li>
								</ul>
								<div class="mask"></div>
							</li>
						</ul>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-9 col-home-960 col-home-960-banner">
			<div class="banner-home">
				<div class="owl-carousel" style="display:block;"><!-- 此处的 style="display:block;" 使用js后需要删掉 -->
					<div class="item">
                        <a href="faxian/1016-utm_source=jobtong&utm_medium=home_banner&utm_campaign=ad.htm" target="_blank">
                            <img src="__PUBLIC__/Uploads/Picture/ad/1.jpg">
                        </a>
                    </div>
					<!--<div class="item">
                        <a href="faxian/1016-utm_source=jobtong&utm_medium=home_banner&utm_campaign=ad.htm" target="_blank">
                            <img src="__PUBLIC__/Uploads/Picture/ad/2.jpg">
                        </a>
                    </div>
                    <div class="item">
                        <a href="faxian/1016-utm_source=jobtong&utm_medium=home_banner&utm_campaign=ad.htm" target="_blank">
                            <img src="__PUBLIC__/Uploads/Picture/ad/3.jpg">
                        </a>
                    </div>
                    <div class="item">
                        <a href="faxian/1016-utm_source=jobtong&utm_medium=home_banner&utm_campaign=ad.htm" target="_blank">
                            <img src="__PUBLIC__/Uploads/Picture/ad/4.jpg">
                        </a>
                    </div>-->
				</div>
			</div>
			<ul class="sub-banner-home">
				<li>
                    <a href="1212/ju.htm" tppabs="http://www.jobtong.com/1212/ju" target="_blank">
                        <img src="__PUBLIC__/Uploads/Picture/ad/zt1.jpg" alt="聚靠谱"/>
                    </a>
                </li>
				<li>
                    <a href="1212/ju.htm" tppabs="http://www.jobtong.com/1212/ju" target="_blank">
                        <img src="__PUBLIC__/Uploads/Picture/ad/zt2.jpg" alt="聚靠谱"/>
                    </a>
                </li>
                <li>
                    <a href="1212/ju.htm" tppabs="http://www.jobtong.com/1212/ju" target="_blank">
                        <img src="__PUBLIC__/Uploads/Picture/ad/zt3.jpg" alt="聚靠谱"/>
                    </a>
                </li>
			</ul>
		</div>
		<div class="col-xs-3 col-home-210 col-home-960-user-dashboard">
			<div class="panel panel-simple panel-simple-border panel-user-dashboard js-login-panel" style="line-height:39px;">
				<div class="panel-heading">用户登录</div>
				<div class="panel-body">
					<form role="form" method="post" action="http://www.jobtong.com/login">
						<div class="form-group"><label for="email">邮箱</label><input type="email" class="form-control" id="email" name="email" placeholder="登录邮箱"></div>
						<div class="form-group"><label for="password">密码</label><input type="password" class="form-control" id="password" name="password" placeholder="登录密码"></div>
						<div class="checkbox"><label><input type="checkbox" name="auto_login" value="1" checked="checked"/>&nbsp;下次自动登录</label><a class="pull-right" href="password.htm" tppabs="http://www.jobtong.com/password">找回密码</a></div>
						<button type="submit" class="btn btn-block btn-primary js-btn-login">登录</button>
					</form>
					<div class="text-block text-right"><a href="register.htm" tppabs="http://www.jobtong.com/register">免费注册</a></div>
					
				</div>
			</div>
			
		</div>
	</div>
	<div class="row">
		<div class="col-xs-9 col-home-960">
            <!-- 个人帐户登录后显示“猜你喜欢”5条信息列表 -->
            <div id="rec-job-box" class="panel panel-with-tabs">
				<div class="panel-heading"><span class="panel-title">猜你喜欢</span></div>
				<div class="panel-body">
					<ul id="js-job-list-0" class="job-list js-job-list" style="display:block;">
                        <li class="job-item">
                            <div class="pull-right text-right">
                                <span class="text-muted job-item-description">3天前 17：25</span>
                                <strong class="job-item-salary text-highlight">￥15，000 - 25，000</strong>
                            </div>
                            <div class="pull-left wei-user-logo-small">
                                <a title="金融界" target="_blank" href="#">
                                    <img class="img-border" alt="金融界logo" src="__PUBLIC__/Uploads/Picture/42060e04f4930040246e518eed2cac4af1313194.jpg"/>
                                </a>
                            </div>
                            <div class="job-item-title">
                                <a class="" title="【资深C/C++】土豪互联网金融，证券公司" target="_blank" href="#">【资深C/C++】土豪互联网金融，证券公司</a>
                                <i class="jobtong-icon-hot" title="比东京还热的职位" data-placement="bottom" data-toggle="tooltip"></i>
                                <span class="text-label small">
                                    <a target="_blank" href="#"><i class="fa"></i>0</a>
                                </span>
                            </div>
                            <ul class="job-item-description list-inline">
                                <li class="text-muted">[<a target="_blank" href="#">C/C++</a>]</li>
                                <li class="text-label"><a target="_blank" href="#" title="金融界">金融界</a></li>
                                <li class="text-label">北京</li>
                                <li class="text-label">2年以上工作经验</li>
                                <li class="text-label">本科</li>
                            </ul>
                        </li>
                        <li class="job-item">
                            <div class="pull-right text-right">
                                <span class="text-muted job-item-description">3天前 17：25</span>
                                <strong class="job-item-salary text-highlight">￥15，000 - 25，000</strong>
                            </div>
                            <div class="pull-left wei-user-logo-small">
                                <a title="金融界" target="_blank" href="#">
                                    <img class="img-border" alt="金融界logo" src="__PUBLIC__/Uploads/Picture/42060e04f4930040246e518eed2cac4af1313194.jpg"/>
                                </a>
                            </div>
                            <div class="job-item-title">
                                <a class="" title="【资深C/C++】土豪互联网金融，证券公司" target="_blank" href="#">【资深C/C++】土豪互联网金融，证券公司</a>
                                <i class="jobtong-icon-hot" title="比东京还热的职位" data-placement="bottom" data-toggle="tooltip"></i>
                                <span class="text-label small">
                                    <a target="_blank" href="#"><i class="fa"></i>0</a>
                                </span>
                            </div>
                            <ul class="job-item-description list-inline">
                                <li class="text-muted">[<a target="_blank" href="#">C/C++</a>]</li>
                                <li class="text-label"><a target="_blank" href="#" title="金融界">金融界</a></li>
                                <li class="text-label">北京</li>
                                <li class="text-label">2年以上工作经验</li>
                                <li class="text-label">本科</li>
                            </ul>
                        </li>
                        <li class="job-item">
                            <div class="pull-right text-right">
                                <span class="text-muted job-item-description">3天前 17：25</span>
                                <strong class="job-item-salary text-highlight">￥15，000 - 25，000</strong>
                            </div>
                            <div class="pull-left wei-user-logo-small">
                                <a title="金融界" target="_blank" href="#">
                                    <img class="img-border" alt="金融界logo" src="__PUBLIC__/Uploads/Picture/42060e04f4930040246e518eed2cac4af1313194.jpg"/>
                                </a>
                            </div>
                            <div class="job-item-title">
                                <a class="" title="【资深C/C++】土豪互联网金融，证券公司" target="_blank" href="#">【资深C/C++】土豪互联网金融，证券公司</a>
                                <i class="jobtong-icon-hot" title="比东京还热的职位" data-placement="bottom" data-toggle="tooltip"></i>
                                <span class="text-label small">
                                    <a target="_blank" href="#"><i class="fa"></i>0</a>
                                </span>
                            </div>
                            <ul class="job-item-description list-inline">
                                <li class="text-muted">[<a target="_blank" href="#">C/C++</a>]</li>
                                <li class="text-label"><a target="_blank" href="#" title="金融界">金融界</a></li>
                                <li class="text-label">北京</li>
                                <li class="text-label">2年以上工作经验</li>
                                <li class="text-label">本科</li>
                            </ul>
                        </li>
                    </ul>
				</div>
				
			</div>
            
            
            
			<div class="panel panel-with-tabs">
				<div class="panel-heading"><span class="panel-title">热门职位</span>
					<ul class="panel-tab-list">
						<li class="panel-tab-item js-tab-item"><a class="js-city-switch" data-city-id="0" href="javascript:;">全部</a></li>
						<li class="panel-tab-item js-tab-item"><a class="js-city-switch" data-city-id="11" href="javascript:;">北京</a></li>
						<li class="panel-tab-item js-tab-item"><a class="js-city-switch" data-city-id="12" href="javascript:;">上海</a></li>
						<li class="panel-tab-item js-tab-item"><a class="js-city-switch" data-city-id="13" href="javascript:;">广州</a></li>
						<li class="panel-tab-item js-tab-item"><a class="js-city-switch" data-city-id="14" href="javascript:;">深圳</a></li>
						<li class="panel-tab-item js-tab-item"><a class="js-city-switch" data-city-id="15" href="javascript:;">杭州</a></li>
					</ul>
				</div>
				<div class="panel-body">
                    <!-- 需要哪个调用用哪个ul，就在后面加 style="display:block;" -->
					<ul id="js-job-list-0" class="job-list js-job-list" style="display:block;">
                        <li class="job-item">
                            <div class="pull-right text-right">
                                <span class="text-muted job-item-description">3天前 17：25</span>
                                <strong class="job-item-salary text-highlight">￥15，000 - 25，000</strong>
                            </div>
                            <div class="pull-left wei-user-logo-small">
                                <a title="金融界" target="_blank" href="#">
                                    <img class="img-border" alt="金融界logo" src="__PUBLIC__/Uploads/Picture/42060e04f4930040246e518eed2cac4af1313194.jpg"/>
                                </a>
                            </div>
                            <div class="job-item-title">
                                <a class="" title="【资深C/C++】土豪互联网金融，证券公司" target="_blank" href="#">【资深C/C++】土豪互联网金融，证券公司</a>
                                <i class="jobtong-icon-hot" title="比东京还热的职位" data-placement="bottom" data-toggle="tooltip"></i>
                                <span class="text-label small">
                                    <a target="_blank" href="#"><i class="fa"></i>0</a>
                                </span>
                            </div>
                            <ul class="job-item-description list-inline">
                                <li class="text-muted">[<a target="_blank" href="#">C/C++</a>]</li>
                                <li class="text-label"><a target="_blank" href="#" title="金融界">金融界</a></li>
                                <li class="text-label">北京</li>
                                <li class="text-label">2年以上工作经验</li>
                                <li class="text-label">本科</li>
                            </ul>
                        </li>
                        <li class="job-item">
                            <div class="pull-right text-right">
                                <span class="text-muted job-item-description">3天前 17：25</span>
                                <strong class="job-item-salary text-highlight">￥15，000 - 25，000</strong>
                            </div>
                            <div class="pull-left wei-user-logo-small">
                                <a title="金融界" target="_blank" href="#">
                                    <img class="img-border" alt="金融界logo" src="__PUBLIC__/Uploads/Picture/42060e04f4930040246e518eed2cac4af1313194.jpg"/>
                                </a>
                            </div>
                            <div class="job-item-title">
                                <a class="" title="【资深C/C++】土豪互联网金融，证券公司" target="_blank" href="#">【资深C/C++】土豪互联网金融，证券公司</a>
                                <i class="jobtong-icon-hot" title="比东京还热的职位" data-placement="bottom" data-toggle="tooltip"></i>
                                <span class="text-label small">
                                    <a target="_blank" href="#"><i class="fa"></i>0</a>
                                </span>
                            </div>
                            <ul class="job-item-description list-inline">
                                <li class="text-muted">[<a target="_blank" href="#">C/C++</a>]</li>
                                <li class="text-label"><a target="_blank" href="#" title="金融界">金融界</a></li>
                                <li class="text-label">北京</li>
                                <li class="text-label">2年以上工作经验</li>
                                <li class="text-label">本科</li>
                            </ul>
                        </li>
                        <li class="job-item">
                            <div class="pull-right text-right">
                                <span class="text-muted job-item-description">3天前 17：25</span>
                                <strong class="job-item-salary text-highlight">￥15，000 - 25，000</strong>
                            </div>
                            <div class="pull-left wei-user-logo-small">
                                <a title="金融界" target="_blank" href="#">
                                    <img class="img-border" alt="金融界logo" src="__PUBLIC__/Uploads/Picture/42060e04f4930040246e518eed2cac4af1313194.jpg"/>
                                </a>
                            </div>
                            <div class="job-item-title">
                                <a class="" title="【资深C/C++】土豪互联网金融，证券公司" target="_blank" href="#">【资深C/C++】土豪互联网金融，证券公司</a>
                                <i class="jobtong-icon-hot" title="比东京还热的职位" data-placement="bottom" data-toggle="tooltip"></i>
                                <span class="text-label small">
                                    <a target="_blank" href="#"><i class="fa"></i>0</a>
                                </span>
                            </div>
                            <ul class="job-item-description list-inline">
                                <li class="text-muted">[<a target="_blank" href="#">C/C++</a>]</li>
                                <li class="text-label"><a target="_blank" href="#" title="金融界">金融界</a></li>
                                <li class="text-label">北京</li>
                                <li class="text-label">2年以上工作经验</li>
                                <li class="text-label">本科</li>
                            </ul>
                        </li>
                    </ul>
					<ul id="js-job-list-11" class="job-list js-job-list"></ul>
					<ul id="js-job-list-12" class="job-list js-job-list"></ul>
					<ul id="js-job-list-13" class="job-list js-job-list"></ul>
					<ul id="js-job-list-14" class="job-list js-job-list"></ul>
					<ul id="js-job-list-15" class="job-list js-job-list"></ul>
					<div class="text-center js-loading" style="padding: 50px 0 200px;">
                        <i class="fa fa-spin"><img src="__PUBLIC__/images/loading.gif" width="40"/></i>&nbsp;
						<span class="text-primary">加载中...</span>
                    </div>
					
				</div>
				<div class="panel-footer"><a href="job.htm" tppabs="http://www.jobtong.com/job">更多...</a></div>
			</div>
		</div>
        <!--右侧-->
		<div class="col-xs-3 col-home-210">
			
			<hr/>
			<div class="panel panel-simple panel-hot-wei-user">
				<div class="panel-heading"><h4>热招企业</h4></div>
				<div class="panel-body">
					<ul class="list-inline">
						<li>
                            <a href="#" target="_blank">
                                <img class="img-border" src="__PUBLIC__/Uploads/Picture/42060e04f4930040246e518eed2cac4af1313194.jpg" alt="理财屋" width="90" height="90" data-toggle="tooltip" data-placement="bottom" title="理财屋"/>
                            </a>
                        </li>
						<li>
                            <a href="#" target="_blank">
                                <img class="img-border" src="__PUBLIC__/Uploads/Picture/0d28966fdde762a34da4c8e0e636dcfa093168fa.jpg" alt="蜗牛邦" width="90" height="90" data-toggle="tooltip" data-placement="bottom" title="蜗牛邦"/>
                            </a>
                        </li>
						<li>
                            <a href="#" target="_blank">
                                <img class="img-border" src="__PUBLIC__/Uploads/Picture/20e7d386bacfd828ef01509be60c8a8cdd86ac8b.jpg" alt="小酱油" width="90" height="90" data-toggle="tooltip" data-placement="bottom" title="小酱油"/>
                            </a>
                        </li>
						<li>
                            <a href="#" target="_blank">
                                <img class="img-border" src="__PUBLIC__/Uploads/Picture/c666d630d0152c9a6782e39910dc5beae5951cc8.jpg" alt="极客海淘" width="90" height="90" data-toggle="tooltip" data-placement="bottom" title="极客海淘"/>
                            </a>
                        </li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--main end=============主体-->
<include file="Public/footer"/>