<!--footer start=============底部-->
<div class="footer">
	<div class="info">
		<div class="logo">
			<img src="__PUBLIC__/images/logo_bottom.png"/>

			<p>©2014&nbsp;jobtong.com&nbsp;All Rights Reserved</p>

			<p>京ICP备14002258号 | 010-82866096</p>
		</div>
		<div class="link">
			<a href="/">网站首页</a>
			<a href="/">内容招募</a>
			<a href="/">关于我们</a>
			<a href="" target="_blank">联系我们</a>
			<a href="/">人才招聘</a>
			<a href="">意见反馈</a>
		</div>
		<div class="contact">
			<label>关注我们的动向</label>
			<p>
				<a class="weixin" href=""></a>
				<a class="weibo" href=""></a>
				<a class="douban" href=""></a>
			</p>
		</div>
	</div>
	<hr/>
	<div class="friend">
		<a data-toggle="outbound" href="http://bbs.linuxtone.org/forum.php" target="_blank">Linuxtone</a>
		<a data-toggle="outbound" href="http://www.woshipm.com/" target="_blank">人人都是产品经理</a>
		<a data-toggle="outbound" href="http://www.html-js.com/" target="_blank">前端乱炖</a>
		<a data-toggle="outbound" href="http://www.apkbus.com/" target="_blank">安卓巴士</a>
		<a data-toggle="outbound" href="http://www.codeios.com/" target="_blank">iOS开发者</a>
		<a data-toggle="outbound" href="http://cocos2d-x.org/" target="_blank">Cocos引擎中文官网</a>
		<a data-toggle="outbound" href="http://www.eoeandroid.com/" target="_blank">安卓论坛</a>
		<a data-toggle="outbound" href="http://www.jikexueyuan.com/" target="_blank">Android开发</a>
		<a data-toggle="outbound" href="http://www.linux.cn/" target="_blank">Linux中国</a>
		<a data-toggle="outbound" href="http://www.ui.cn/" target="_blank">UI中国</a>
		<a data-toggle="outbound" href="http://www.webppd.com/" target="_blank">产品原型设计</a>
		<a data-toggle="outbound" href="http://www.thinkphp.cn/" target="_blank">ThinkPHP框架</a>
		<a data-toggle="outbound" href="http://www.masterchat.cn/" target="_blank">产品邦</a>
		<a data-toggle="outbound" href="http://office.sh.fang.com/" target="_blank">上海写字楼</a>
		<a data-toggle="outbound" href="http://www.chanpin100.com/" target="_blank">产品100</a>
		<a data-toggle="outbound" href="http://www.hrjob360.com/" target="_blank">HR圈内招聘网</a>
		<a data-toggle="outbound" href="http://sendcloud.sohu.com/" target="_blank">SendCloud</a>
		<a data-toggle="outbound" href="http://www.teambition.com/" target="_blank">Teambition</a>
	</div>
</div>
<!--footer end=============底部-->
</body>
</html>