<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="renderer" content="webkit">
	<meta name="keywords" content="招聘,互联网招聘,移动互联网招聘,社交招聘,IT招聘,微信招聘,微博招聘,豆瓣招聘,跳槽,高薪职位">
	<meta name="description" content="周伯通招聘，最靠谱的招聘社区">
	<title>在线简历&nbsp;-&nbsp;周伯通招聘</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/font-awesome.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/toastr.min.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/magnific-popup.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/alertify.core.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/alertify.jobtong.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/base.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/public.css"/>
</head>
<body>
	<div class="header">
		<div class="nav_box">
			<div class="nav_bar">
				<div class="nav_logo">
					<a href=""><img src="__PUBLIC__/images/logo_v4.png"></a>
				</div>
				<div class="nav_search">
					<form method="get" action="" autocomplete="off">
						<input class="form-control" type="text" name="keyword" value="" placeholder="请输入关键字..."/>
						<button type="submit" class="btn btn-link">
							<span class="fa fa-search"></span>
						</button>
					</form>
				</div>
				<ul class="nav_items">
					<li class="on"><a href="">首页</a></li>
					<li><a href="">职位</a></li>
					<li><a href="">企业</a></li>
					<li><a href="">发现</a></li>
					<li><a href="" target="_blank">&nbsp;&nbsp;12.12招聘节&nbsp;&nbsp;</a></li>
				</ul>
				<!-- 用户 -->
				<ul class="nav_right">
					<li id="message-tips">
						<a class="notifier-number" href="" data-toggle="tooltip" data-placement="bottom" title="我的私信">
							<i class="fa fa-envelope-o"></i>
						</a>
					</li>
					<li id="notification-tips">
						<a class="js-drop-btn" href="" data-toggle="tooltip" data-placement="bottom" title="我的通知" data-notifier-number="0">
							<i class="fa fa-bell-o"></i>
						</a>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100">小_石_头&nbsp;<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="">
									<i class="fa fa-file-word-o"></i> 我的简历
								</a>
							</li>
							<li><a href=""><i class="fa fa-star-o"></i> 我的收藏</a></li>
							<li><a href=""><i class="fa fa-rss"></i> 我的订阅</a></li>
							<li><a href=""><i class="fa fa-history"></i> 申请历史</a></li>
							<li><a href=""><i class="fa fa-user"></i> 账号设置</a></li>
							<li><a href=""><i class="fa fa-sign-out"></i> 退出</a></li>
						</ul>
					</li>
				</ul>
			</div>	
		</div>
	</div>