<div class="box">
	<div class="box-title">热招企业</div>
	<ul class="box-hot-wei-user">
		<li class="wei-user-logo">
			<a href="" target="_blank" title="暴风影音">
				<img src="__PUBLIC__/Uploads/Picture/7d7d93c536c03eac0ebfd1855de3377404c23b90.png" alt="暴风影音"/>
			</a>
		</li>
		<li class="wei-user-logo">
			<a href="" target="_blank" title="暴风影音">
				<img src="__PUBLIC__/Uploads/Picture/7d7d93c536c03eac0ebfd1855de3377404c23b90.png" alt="暴风影音"/>
			</a>
		</li>
		<li class="wei-user-logo">
			<a href="" target="_blank" title="暴风影音">
				<img src="__PUBLIC__/Uploads/Picture/7d7d93c536c03eac0ebfd1855de3377404c23b90.png" alt="暴风影音"/>
			</a>
		</li>
		<li class="wei-user-logo">
			<a href="" target="_blank" title="暴风影音">
				<img src="__PUBLIC__/Uploads/Picture/7d7d93c536c03eac0ebfd1855de3377404c23b90.png" alt="暴风影音"/>
			</a>
		</li>
		<li class="wei-user-logo">
			<a href="" target="_blank" title="暴风影音">
				<img src="__PUBLIC__/Uploads/Picture/7d7d93c536c03eac0ebfd1855de3377404c23b90.png" alt="暴风影音"/>
			</a>
		</li>
		<li class="wei-user-logo">
			<a href="" target="_blank" title="暴风影音">
				<img src="__PUBLIC__/Uploads/Picture/7d7d93c536c03eac0ebfd1855de3377404c23b90.png" alt="暴风影音"/>
			</a>
		</li>
		<li class="wei-user-logo">
			<a href="" target="_blank" title="暴风影音">
				<img src="__PUBLIC__/Uploads/Picture/7d7d93c536c03eac0ebfd1855de3377404c23b90.png" alt="暴风影音"/>
			</a>
		</li>
		<li class="wei-user-logo">
			<a href="" target="_blank" title="暴风影音">
				<img src="__PUBLIC__/Uploads/Picture/7d7d93c536c03eac0ebfd1855de3377404c23b90.png" alt="暴风影音"/>
			</a>
		</li>
		<li class="wei-user-logo">
			<a href="" target="_blank" title="暴风影音">
				<img src="__PUBLIC__/Uploads/Picture/7d7d93c536c03eac0ebfd1855de3377404c23b90.png" alt="暴风影音"/>
			</a>
		</li>
		<li class="wei-user-logo">
			<a href="" target="_blank" title="暴风影音">
				<img src="__PUBLIC__/Uploads/Picture/7d7d93c536c03eac0ebfd1855de3377404c23b90.png" alt="暴风影音"/>
			</a>
		</li>
	</ul>
</div>