        <div class="col-xs-3 col-md-2 sidebar-menu">
            <ul class="list-group">
                <!--data-notifier-number="new" 此句控制new小图标-->
                <li class="list-group-item notifier-number" data-notifier-number="new">
                    <a class="text-primary" href="__URL__/center">
                    <i class="fa fa-2x"><img src="__PUBLIC__/images/guanli1.gif"/></i>管理中心</a>
                </li>
                <li class="list-group-item">
                    <a class="text-label" href="__URL__/job">
                    <i class="fa fa-2x"><img src="__PUBLIC__/images/zhiwei2.gif"/></i>职位管理</a>
                </li>
                <li class="list-group-item notifier-number" data-notifier-number="0">
                    <a class="text-label" href="__URL__/all">
                    <i class="fa fa-2x"><img src="__PUBLIC__/images/jianli2.gif"/></i>简历管理</a>
                </li>
                <li class="list-group-item">
                    <a class="text-label" href="__URL__/comment">
                    <i class="fa fa-2x"><img src="__PUBLIC__/images/pinglun2.gif"/></i>评论管理</a>
                </li>
                <!--notifier notifier-lg 这两个类名控制橙色小圆点-->
                <li class="list-group-item notifier notifier-lg">
                    <a class="text-label" href="__URL__/basic">
                    <i class="fa fa-2x"><img src="__PUBLIC__/images/qiye2.gif"/></i>企业资料</a>
                </li>
                <li class="list-group-item">
                    <a class="text-label" href="__URL__/editemail">
                    <i class="fa fa-2x"><img src="__PUBLIC__/images/zhanghao2.gif"/></i>账号设置</a>
                </li>
            </ul>
        </div>