<include file="Public/header"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/index_aio.min.css">
<!--main start=============主体-->
<div class="container">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/e" class="text-label small">全部职位</a></li>
			<li><a href="/job?category=1" class="text-label small">技术类</a></li>
			<li><a href="/job?category=2" class="text-label small">后端开发</a></li>
			<li><a href="/job?category=11" class="text-label small">PHP</a></li>
			<li class="active small">企业详细信息</li>
		</ol>
		<h3 class="ellipsis">跪求PHP开发攻城狮1枚！</h3>
    </div>
	<div class="row">
        <!--详情页左边-->
		<div class="col-xs-9 col-2-left" style="padding-bottom:20px;">
			<h4>
				<legend>PHP开发工程师<em class="text-muted small pull-right">更新于：昨天 10:20</em></legend>
			</h4>
			<div class="row job-detail-summary">
				<div class="col-xs-8">
					<ul class="list-inline">
						<li>工作地点：北京</li>
						<li>工作年限：不限</li>
						<li>最低学历：专科</li>
						<li>招聘人数：1</li>
					</ul>
				</div>
				<div class="col-xs-4">
					<ul class="list-unstyled">
						<li>职位月薪：</li>
						<li class="text-highlight job-salary">￥5,000 - 10,000</li>
					</ul>
				</div>
			</div>
			<div class="row job-detail-button-group">
				<ul class="list-inline text-center">
					<li>
                        <a class="btn btn-lg btn-highlight" href="" style="width: 130px;">立即申请</a>
                    </li>
					<li style="position: relative;">
                        <a class="btn btn-lg btn-default" href=""><i class="fa text-highlight"><img src="__PUBLIC__/images/job_s.png" ></i></a><label class="text text-primary" style="position: absolute; top: 45px; left: 0; display: none;">收藏成功</label>
                    </li>
					
				</ul>
			</div>
			<div class="row container-nav-tabs-2">
				<ul class="nav nav-tabs-2">
					<li class="active"><a href="#introduction">企业介绍</a></li>
					<li><a href="#requirement">职责&要求</a></li>
					<li><a href="#job_list">本公司其他职位</a></li>
					<li><a href="#comment_list">评论</a></li>
				</ul>
			</div>
			<div id="introduction"><h4>企业介绍</h4>

				<p class="fat-line">微疯客是由一群热爱互联网、热爱数码、热爱生活的极客于2011年7月份创立。旗下核心产品微疯客，是国内最大的Windows智能手机应用分发渠道和游戏社区。自成立以来，得到微软及诺基亚等知名厂商的官方认可，取得各类官方合作伙伴称号，更在广大用户及开发者用户中铸就了良好的口碑。微疯客核心团队具有高学历、高热情的共同属性，全情投入产品的同时，更能从产品本身得到无尽的快乐。微疯客将持续立足互联网产品最热门领域：移动互联网、游戏、社区。</p>
				<hr/>
			</div>
			<div id="requirement"><h4>职责&要求</h4>

				<p>岗位职责</p>

				<p class="fat-line">
                    1、网站功能的开发和维护<br/>
					2、用户体验的实现和改善<br/>
					3、客户端API开发和维护
                </p><br/>

				<p>任职要求</p>

				<p class="fat-line">
                    1、熟悉一种编程语言和数据库系统。掌握PHP+MySQL 更佳，了解OOP、框架、模板等开发技术，熟悉LAMP环境更佳。<br/>
					2、熟悉Javascript，熟悉Html/Xhtml、CSS等网页前端技术。了解各种浏览器特性与相关调试工具，如 firebug等。<br/>
					3、有ajax网站开发经验，熟悉web标准，对表现与数据分离，html语义化等有深 刻理解更佳。<br/>
					4、熟悉Linux系统，熟悉各种web server技术。<br/>
					5、对web技术钻研有强烈兴趣，有良好的学习能力和强烈的进取心。<br/>
					6、思维缜密、思路清晰，较好的逻辑分析能力。<br/>
					7、良好的沟通和口头、书面表达能力。
                </p>
				<hr/>
			</div>
			<div id="job_list"><h4>本公司其他职位</h4>
				<ul class="job-list-simple">
					<li class="job-item"><a href="/job/6998e1b2ef93c239b0ef7b03ef966c6f"><span class="text-highlight salary">￥7,000 - 14,000</span><span class="title">windows phone/win8开发工程师</span>

						<p class="text-label">不限工作经验&nbsp;
							本科</p></a></li>
					<li class="job-item"><a href="/job/1ba291ce379dccb046bb1838b8a860b1"><span class="text-highlight salary">￥7,000 - 14,000</span><span class="title">Android开发工程师</span>

						<p class="text-label">1年以上工作经验&nbsp;
							不限学历</p></a></li>
					<li class="job-item"><a href="/job/96e484cc68fd73567c26be6bb2db0f24"><span class="text-highlight salary">￥8,000 - 10,000</span><span class="title">互联网商务经理</span>

						<p class="text-label">2年以上工作经验&nbsp;
							专科</p></a></li>
					<li class="job-item"><a href="/job/73518cc046d9a913ef1db3784610652b"><span class="text-highlight salary">￥8,000 - 10,000</span><span class="title">电子商务总监</span>

						<p class="text-label">2年以上工作经验&nbsp;
							专科</p></a></li>
					<li class="job-item"><a href="/job/96124ff289764cbf9ce93b447dc20f09"><span class="text-highlight salary">￥5,000 - 10,000</span><span class="title">游戏产品专员</span>

						<p class="text-label">2年以上工作经验&nbsp;
							不限学历</p></a></li>
					<li class="job-item"><a href="/job/1339278a36d417ed0df544341d7b0dc9"><span class="text-highlight salary">￥5,000 - 8,000</span><span class="title">游戏内容运营</span>

						<p class="text-label">1年以上工作经验&nbsp;
							专科</p></a></li>
					<li class="job-item"><a href="/job/f32620d12027544150ed0deb69519fa6"><span class="text-highlight salary">￥4,000 - 8,000</span><span class="title">技术支持工程师</span>

						<p class="text-label">不限工作经验&nbsp;
							不限学历</p></a></li>
					<li class="job-item"><a href="/job/ffa614b2de71e61552a49fae04e33cd7"><span class="text-highlight salary">￥4,000 - 7,000</span><span class="title">媒介运营专员</span>

						<p class="text-label">1年以上工作经验&nbsp;
							专科</p></a></li>
					<li class="job-item"><a href="/job/74cd602661032df0a3c82d8be3b40cf5"><span class="text-highlight salary">￥7,000 - 12,000</span><span class="title">UI设计师</span>

						<p class="text-label">2年以上工作经验&nbsp;
							专科</p></a></li>
				</ul>
				<hr/>
			</div>
			
            <!--评论 start-->
            <include file="Public/comment"/>
            <!--评论 end-->
            
        </div>
        <!--详情页右边-->
        <div class="col-xs-3 col-2-right">
            <div class="panel panel-simple">
                <div class="panel-heading"><h4>企业信息</h4></div>
                <div class="panel-body">
                    <p class="wei-user-logo wei-user-logo-large">
                        <a href="http://www.jobtong.com/e/10858"><img class="img-border" id="logo_img" src="__PUBLIC__/images/802c16284a456f92b6f7498160255b051329cdf4.jpg"></a>
                    </p>

                    <p><a class="text-primary" href="http://www.jobtong.com/e/10858">微疯客</a></p>

                    <p><span class="text-label">北京&nbsp;
                                    15-50人&nbsp;
                                    私企&nbsp;
                                    移动互联网</span></p>

                    <p><a class="text-primary" href="http://www.weifengke.com/" target="_blank" rel="nofollow">http://www.weifengke.com</a></p>

                    <p><span class="text-label">西屋国际</span></p>
                </div>
            </div>
            <hr>
            <div class="panel panel-simple">
                <div class="panel-heading"><h4>你可能感兴趣的职位</h4></div>
                <div class="panel-body">
                    <ul class="list-group list-group-simple">
                        <li class="list-group-item"><p class="ellipsis"><a href="#" target="_blank">【PHP】我们只要最牛的PHP！</a></p>

                            <p class="ellipsis"><a href="#" target="_blank">车兔</a></p>

                            <p class="ellipsis"><span class="text-highlight">￥10,000 - 15,000</span></p></li>
                        <li class="list-group-item"><p class="ellipsis"><a href="#" target="_blank">一起和我们实现职业梦！</a></p>

                            <p class="ellipsis"><a href="#" target="_blank">职业梦</a></p>

                            <p class="ellipsis"><span class="text-highlight">￥7,000 - 10,000</span></p></li>
                        <li class="list-group-item"><p class="ellipsis"><a href="#" target="_blank">有经验就可以</a></p>

                            <p class="ellipsis"><a href="#" target="_blank">腾信卓越</a></p>

                            <p class="ellipsis"><span class="text-highlight">￥10,000 - 20,000</span></p></li>
                        <li class="list-group-item"><p class="ellipsis"><a href="#" target="_blank">旅游行业互联网企业</a></p>

                            <p class="ellipsis"><a href="#" target="_blank">卓越</a></p>

                            <p class="ellipsis"><span class="text-highlight">￥12,000 - 20,000</span></p></li>
                        <li class="list-group-item"><p class="ellipsis"><a href="#" target="_blank">nice的领导，良好的工作氛围，漂亮的薪酬。那么问题来了：你还在等什么？</a></p>

                            <p class="ellipsis"><a href="#" target="_blank">金融界</a></p>

                            <p class="ellipsis"><span class="text-highlight">￥12,000 - 20,000</span></p></li>
                        <li class="list-group-item"><p class="ellipsis"><a href="#" target="_blank">iOS 后端攻城狮 找的就是你，投份简历说不定会遇到下个马云</a></p>

                            <p class="ellipsis"><a href="#" target="_blank">移动互联网</a></p>

                            <p class="ellipsis"><span class="text-highlight">￥10,000 - 15,000</span></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--main end=============主体-->
<!--footer start=============底部-->
<include file="Public/footer"/>