<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/base.css">
<include file="Public/header"/>
<!--main start=============主体-->
<div class="container">
<div class="row">
	<div class="col-md-9" role="main">
		<div class="row job-section">
			<div class="job-section-nav"><span>找到&nbsp;<span class="cOrange">12745</span>&nbsp;个相关企业</span></div>
			<div class="job-section-body">
				<!--分类搜索 start=============-->
				<div class="job_search"><!-- 按城市搜索 -->
					<dl class="page_sort">
						<dt>城市</dt>
						<dd class="on"><a href="">全部</a></dd>
						<dd><a href="">北京</a></dd>
						<dd><a href="">上海</a></dd>
						<dd><a href="">广州</a></dd>
						<dd><a href="">深圳</a></dd>
						<dd><a href="">杭州</a></dd>
						<dd><a href="">苏州</a></dd>
						<dd><a href="">南京</a></dd>
						<dd><a href="">大连</a></dd>
						<dd><a href="">成都</a></dd>
						<dd><a href="">天津</a></dd>
						<dd><a href="">厦门</a></dd>
						<dd><a href="">武汉</a></dd>
					</dl>
					<!-- 按行业搜索 -->
					<dl class="page_sort">
						<dt>行业</dt>
						<dd class="on"><a href="">全部</a></dd>
						<dd><a href="">互联网</a></dd>
						<dd><a href="">移动互联网</a></dd>
						<dd><a href="">游戏</a></dd>
						<dd><a href="">电子商务</a></dd>
						<dd><a href="">新媒体</a></dd>
						<dd><a href="">广告</a></dd>
						<dd><a href="">金融</a></dd>
						<dd><a href="">IT/软件</a></dd>
						<dd><a href="">通信</a></dd>
						<dd><a href="">教育</a></dd>
						<dd><a href="">其他</a></dd>
					</dl>
					<!-- 按规模搜索 -->
					<dl class="page_sort">
						<dt>规模</dt>
						<dd class="on"><a href="">全部</a></dd>
						<dd><a href="">15人以下</a></dd>
						<dd><a href="">15-50人</a></dd>
						<dd><a href="">50-150人</a></dd>
						<dd><a href="">150-500人</a></dd>
						<dd><a href="">500-2000人</a></dd>
						<dd><a href="">2000人以上</a></dd>
					</dl>
					<!-- 按性质搜索 -->
					<dl class="page_sort">
						<dt>性质</dt>
						<dd class="on"><a href="">全部</a></dd>
						<dd><a href="">私企</a></dd>
						<dd><a href="">外企</a></dd>
						<dd><a href="">国企</a></dd>
						<dd><a href="">中外合资</a></dd>
					</dl>
				</div>
				<!--分类搜索 end=============-->
				<div class="sortbar"><span class="right">共&nbsp;<span class="cOrange">12745</span>&nbsp;个靠谱企业</span>
					<ul class="sortbar_btns">
						<li><a href="">热门<span class="ico_sortbar_btns ico_sortbar_btns_btm2"></span></a></li>
						<li><a href="">最新<span class="ico_sortbar_btns ico_sortbar_btns_btm1"></span></a></li>
						<li><a href="">规模<span class="ico_sortbar_btns ico_sortbar_btns_btm1"></span></a></li>
					</ul>
				</div>
				<ul class="wei-user-list">
					<li>
						<div class="wei-user-logo left">
							<a href="" target="_blank" title="NASDAQ:JRJC">
								<img src="__PUBLIC__/Uploads/Picture/20e7d386bacfd828ef01509be60c8a8cdd86ac8b.jpg" alt="NASDAQ:JRJCLogo"/>
							</a>
						</div>
						<img class="promotion" src="__PUBLIC__/images/icon-promotion.png"/>

						<h3><a href="/e/1977" target="_blank" title="NASDAQ:JRJC">NASDAQ:JRJC</a></h3>

						<p class="text-muted" style="margin-bottom: 6px;">
							<span>纳斯达克上市公司，互联网与金融相结合的复合型发展平台</span>
						</p>

						<p class="text-muted">
							<span>所在城市：北京</span>
							<span>公司性质：私企</span>
							<span>公司规模：2000人以上</span>
							<span>所在行业：互联网</span>
						</p>

						<p>
							<span><a href="" target="_blank">网站策划（实习生）</a></span>
							<span><a href="" target="_blank">网站推广专员（实习生）</a></span>
							<span><a href="" target="_blank">内容运营（实习生）</a></span>
							<span><a href="" target="_blank">财经频道编辑（实习生）</a></span>
						</p>
					</li>
					<li>
						<div class="wei-user-logo left">
							<a href="/e/6590" target="_blank" title="畅捷通信息技术股份有限公司">
								<img src="__PUBLIC__/Uploads/Picture/0d28966fdde762a34da4c8e0e636dcfa093168fa.jpg" alt="畅捷通信息技术股份有限公司Logo"/>
							</a>
						</div>
						<img class="promotion" src="__PUBLIC__/images/icon-promotion.png"/>

						<h3>
							<a href="" target="_blank" title="畅捷通信息技术股份有限公司">畅捷通信息技术股份有限公司</a>
						</h3>

						<p class="text-muted" style="margin-bottom: 6px;">
							<span>亚太最大的小微企业软件与服务供应商</span>
						</p>

						<p class="text-muted">
							<span>所在城市：北京</span>
							<span>公司性质：私企</span>
							<span>公司规模：500-2000人</span>
							<span>所在行业：IT/软件</span>
						</p>

						<p>
							<span><a href="" target="_blank">前端开发</a></span>
							<span><a href="" target="_blank">java后台开发</a></span>
							<span><a href="" target="_blank">平台产品经理</a></span>
							<span><a href="" target="_blank">账户体系与身份认证架构师</a></span>
						</p>
					</li>
					<li>
						<div class="wei-user-logo left">
							<a href="/e/1062" target="_blank" title="北京比邻在线信息技术有限公司">
								<img src="__PUBLIC__/Uploads/Picture/c666d630d0152c9a6782e39910dc5beae5951cc8.jpg"/>
							</a>
						</div>
						<img class="promotion" src="__PUBLIC__/images/icon-promotion.png"/>

						<h3>
							<a href="/e/1062" target="_blank" title="北京比邻在线信息技术有限公司">
								北京比邻在线信息技术有限公司
							</a>
						</h3>

						<p class="text-muted" style="margin-bottom: 6px;">
							<span>一个年轻的创业团队，一份待遇优渥的工作，一群帅锅靓女同事，在等你你你你你！</span>
						</p>

						<p class="text-muted">
							<span>所在城市：北京</span>
							<span>公司性质：私企</span>
							<span>公司规模：50-150人</span>
							<span>所在行业：移动互联网</span>
						</p>

						<p>
							<span><a href="" target="_blank">QA工程师</a></span>
							<span><a href="" target="_blank">高级音频开发工程师</a></span>
							<span><a href="" target="_blank">用户运营专员</a></span>
							<span><a href="" target="_blank">商业产品经理</a></span>
						</p>
					</li>
					<li>
						<div class="wei-user-logo left">
							<a href="/e/12745" target="_blank" title="前程">
								<img src="__PUBLIC__/Uploads/Picture/abe70d6b1405e969feb4e77e55a798115ef8d18f.jpg" alt="前程Logo"/>
							</a>
						</div>
						<h3><a href="/e/12745" target="_blank" title="前程">前程</a></h3>

						<p class="text-muted" style="margin-bottom: 6px;"><span>招聘等你来</span></p>

						<p class="text-muted">
							<span>所在城市：北京</span>
							<span>公司性质：私企</span>
							<span>公司规模：500-2000人</span>
							<span>所在行业：互联网</span>
						</p>

						<p><span class="text-muted">木有职位</span></p></li>
				</ul>
				<!--分页 start-->
				<include file="Public/page"/>
				<!--分页 end-->
			</div>
			<!--分类搜索 end=============-->
		</div>
	</div>
	<div class="col-md-3">
		<!--热门企业 start-->
		<include file="Public/hotCompany"/>
		<!--热门企业 end-->
	</div>
</div>
</div>
<!--main end=============主体-->
<include file="Public/footer"/>