<include file="Public/header"/>
<div class="container">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/e" class="text-label small">全部企业</a></li>
			<li><a href="/e?industry=2" class="text-label small">移动互联网</a></li>
			<li class="active small">企业详细信息</li>
		</ol>
	</div>
	<div class="row wei-user-heading">
		<div class="col-sm-2 wei-user-logo"><img class="img-border" src="__PUBLIC__/Uploads/Picture/c666d630d0152c9a6782e39910dc5beae5951cc8.jpg" alt="北京比邻在线信息技术有限公司Logo"></div>
		<div class="col-sm-10"><h3 class="title ellipsis">比邻（北京比邻在线信息技术有限公司）</h3>

			<p class="abstract text-label ellipsis">一个年轻的创业团队，一份待遇优渥的工作，一群帅锅靓女同事，在等你你你你你！</p>
		</div>
	</div>
</div>
<div class="container-fluid container-nav-tabs-2">
	<div class="container">
		<ul class="nav nav-tabs-2" role="tablist">
			<li class="active"><a href="/e/1062">企业主页</a></li>
			<li><a href="/e/1062#job_list">全部职位</a></li>
			<li><a href="/e/1062#comment_list">评论</a></li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-9 col-2-left">
			<div id="introduction"><h4>
				企业介绍
			</h4>

				<p class="fat-line">比邻，是国内首款打给陌生人的电话，是中国第一个基于移动互联网的实时语音互动娱乐平台，利用实时语音通讯技术与多人在线协同技术，为用户提供最酷炫的互动娱乐体验。目前用户量已超过3000万，公司已获得国内最著名的美元基金投资。 <br/>
					【我们年轻朝气】<br/>
					一位会打篮球、会炫舞、会讲冷笑话的帅哥老大，带领一群爱拍电影、爱玩音乐、痴恋厨房、混迹夜店、爱滑板的极客狂人、技术大牛，誓言要做一款影响年轻人的性感的产品。<br/>
					【自由欢快的办公】<br/>
					从不打卡，木有迟到，是我们对自由的最好代言。溜着滑板穿越整个办公区是你放空思想的最佳选择，各种美酒是你灵感迸发最好的催化剂，突如其来的完美假期可能让你不知所措。零食和水果，甚至老板心血来潮的福利暂不细说。哦对了，前台妹纸是高冷女神，不服来看。<br/>
					【我们希望你】<br/>
					激情、责任、智慧、天赋、执行力、想象力，以及年轻的心。<br/>
					<br/>
					来比邻，万一能改变世界呢！<br/>
					Embrace your dreams, change the world!<br/>
					<br/>
					<br/></p>
				<hr/>
			</div>
			<div id="job_list"><h4>
				全部职位
			</h4>
				<ul class="job-list-simple">
					<li class="job-item">
						<a href="">
							<span class="text-highlight salary">￥10,000 - 20,000</span>
							<span class="title">QA工程师</span>

							<p class="text-label">3年以上工作经验&nbsp;本科</p>
						</a>
					</li>
					<li class="job-item">
						<a href="">
							<span class="text-highlight salary">￥6,000 - 8,000</span>
							<span class="title">用户运营专员</span>

							<p class="text-label">1年以上工作经验&nbsp;专科</p>
						</a>
					</li>
					<li class="job-item">
						<a href="">
							<span class="text-highlight salary">￥10,000 - 20,000</span>
							<span class="title">QA工程师</span>

							<p class="text-label">3年以上工作经验&nbsp;本科</p>
						</a>
					</li>
					<li class="job-item">
						<a href="">
							<span class="text-highlight salary">￥6,000 - 8,000</span>
							<span class="title">用户运营专员</span>

							<p class="text-label">1年以上工作经验&nbsp;专科</p>
						</a>
					</li>
				</ul>
				<hr/>
			</div>
			<!--评论 start-->
			<include file="Public/comment"/>
			<!--评论 end-->
		</div>
		<div class="col-xs-3 col-2-right">
			<div class="panel panel-simple">
				<div class="panel-heading"><h4>
					企业信息
				</h4></div>
				<div class="panel-body">
					<p>
						<i class="fa fa-fixed-size fa-home"></i>&nbsp;
						<span class="text-label">比邻</span>
					</p>

					<p>
						<i class="fa fa-fixed-size fa-tags"></i>&nbsp;
                        <span class="text-label">北京&nbsp;
                            50-150人&nbsp;
                            私企&nbsp;
                            移动互联网</span>
					</p>

					<p>
						<i class="fa fa-fixed-size fa-link"></i>&nbsp;
						<a class="text-primary" href="" target="_blank" rel="nofollow">http://www.inbilin.com</a>
					</p>

					<p>
						<i class="fa fa-fixed-size fa-map-marker"></i>&nbsp;
						<span class="text-label">北京市朝阳区安定路长新大厦710</span>
					</p>
				</div>
			</div>
			<div class="panel panel-simple">
				<div class="panel-heading"><h4>
					融资信息
				</h4></div>
				<div class="panel-body">
					<ul class="list-inline">
						<li>
							<ul class="vertical-flow">
								<li class="vertical-flow-item"><p class="title">2014-06-05&nbsp;
									获得启明创投、晨兴创投1500万美金投资
								</p><span class="badge">A</span></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-simple">
				<div class="panel-heading"><h4>
					产品介绍
				</h4></div>
				<div class="panel-body">
					<ul class="media-list border">
						<li class="media"><a class="pull-left user-face-small" href="" target="_blank">
							<img class="media-object img-border" src="picture/417bc0020b69912c8d3200db8d8f7dda3639706a.png@100w_100h_0e_80q.jpg">
						</a>

							<div class="media-body">
								<h4 class="media-heading text-primary"><a href="" target="_blank">比邻</a></h4>

								<p>比邻是一款电话社交平台APP， 是一个刺激年轻人心跳的社交工具。主要通过即时通话，随时畅聊你感兴趣的话题，并且可以通过精彩的图片和文字分享生活中的美好点滴，也可以欣赏其它用户个性十足的个人资料和生活相册。通过比邻可以以最直接的打电话的形式结识来自天涯海角却与你有共同话题的新朋友，还可以免费发送可爱的动态表情短信联络好友，是一款时尚、刺激的社交APP。</p></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<hr/>
<include file="Public/footer"/>