<!DOCTYPE html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="keywords" content="1212招聘节,双12招聘节,招聘周,招聘,互联网招聘,移动互联网招聘,社交招聘,IT招聘,微信招聘,微博招聘,豆瓣招聘,跳槽,高薪职位">
	<meta name="description" content="周伯通招聘，最靠谱的招聘社区。1212创业企业招聘周。">
	<title>注册&nbsp;-&nbsp;周伯通招聘</title>
	
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/Index_aio.min.css-v201412181635.css">
	
</head>
<body style="background-color: #2c3e51;">
<div class="container container-register">
	<div class="row"><a href="../index.htm"><img class="img-link" src="__PUBLIC__/images/logo_v4.png" width="132" height="50"/></a></div>
	<div class="row row-register"><h2 class="text-center">企业注册</h2>

		<form id="form" class="form-horizontal" role="form" method="post" action="http://www.jobtong.com/register?role=wei_user" autocomplete="off"><input type="hidden" id="role" name="role" value="wei_user"/><input type="hidden" id="open_site_id" name="open_site_id" value=""/>

			<div class="form-group" style="display:none;"><label for="" class="col-sm-4 control-label control-label-required">昵称</label>

				<div class="col-sm-5"><input id="alias" type="text" name="alias" placeholder="昵称（4-20位，支持中英文、数字）" value="" class="form-control"/></div>
			</div>
			<div class="form-group"><label for="" class="col-sm-4 control-label control-label-required">企业邮箱</label>

				<div class="col-sm-5"><input id="email" type="email" name="email" placeholder="企业邮箱（用于登录账号和接收简历）" value="" class="form-control"/></div>
			</div>
			<div class="form-group"><label for="" class="col-sm-4 control-label control-label-required">密码</label>

				<div class="col-sm-5"><input id="password" type="password" name="password" placeholder="密码（至少6位）" value="" class="form-control"/></div>
			</div>
			<div class="form-group"><label for="" class="col-sm-4 control-label control-label-required">确认密码</label>

				<div class="col-sm-5"><input id="re_password" type="password" name="re_password" placeholder="" value="" class="form-control"/></div>
			</div>
			<div class="form-group"><label for="" class="col-sm-4 control-label control-label-required">验证码</label>

				<div class="col-sm-5"><input id="verify" type="text" name="verify" placeholder="" value="" class="form-control"/></div>
				<div class="col-sm-2 col-verify"><a href="javascript:void(0);""><img src="__PUBLIC__/images/1419347594129.png" id="verifyImg"/></a></div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-5">
					<button id="submit-btn" type="submit" class="btn btn-block btn-primary">注册</button>
                    <!--此处注册后跳register2继续完善企业注册信息-->
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-5"><p class="form-control-static"><a href="" >已有账号登录</a></p></div>
			</div>
		</form>
		
		</div>
	<!-- END .row-->
</div>
<!-- END .container-register -->
</body>
</html>