<include file="Public/headerCompany"/>
<!--主要内容开始-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/Index_aio.css"/>
	<div class="container">
		<div class="navbar-header">
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-nav-job-category">
            
            </ul>
        </div>
    </div>
<div class="container">
    <div class="row">
    <div class="col-xs-9 col-2-left col-2-left-resume-view">
    <h3 class="">王宇飞的简历&nbsp;</h3>
        <div class="resume-view">
            <div id="message">
                <legend>求职信息</legend>
                <dl class="dl-horizontal">
                    <dt>职位</dt>
                    <dd><a class="text-primary" href="#" target="_blank">运营维护管理</a></dd>
                    <dt>求职信</dt>
                    <dd>867868678678768768<br>
                        867868678678768768<br>
                        867868678678768768867868678678768768<br>
                        867868678678768768<br>
                        867868678678768768867868678678768768<br>
                        8678686786787687688678686786787687688678686786787687688678686786787687688678686786787687688678686786787687688678686786787687
                    </dd>
                </dl>
            </div>
            <div id="basic">
                <legend>基本信息</legend>
                <dl class="dl-horizontal" style="width: 800px;"><dt>基本</dt><dd>王宇飞&nbsp;&nbsp;|&nbsp;&nbsp;
                            女&nbsp;&nbsp;|&nbsp;&nbsp;
                            1990.01.01（摩羯座）
                        </dd><dt>联系方式</dt><dd>708833018@qq.com&nbsp;&nbsp;|&nbsp;&nbsp;18311225429</dd><dt>学历</dt><dd>本科</dd><dt>工作经验</dt><dd>3年</dd><dt>现居地</dt><dd>北京</dd><dt>籍贯</dt><dd>北京</dd><dt>当前状态</dt><dd>目前在职，考虑换个环境</dd>
                </dl>
                <div class="user-face user-face-large"><img class="img-border" src="__PUBLIC__/images/default_user_face.jpg">
                </div>
            </div>
            <div id="expect">
                <legend>求职意向</legend>
                <dl class="dl-horizontal">
                    <dt>期望城市</dt>
                    <dd>北京</dd>
                    <dt>期望职位</dt>
                    <dd>php工程师</dd>
                    <dt>期望薪资</dt>
                    <dd>8001-15000</dd>
                </dl>
            </div>
            <div id="introduction">
                <legend>自我描述</legend>
                <dl class="dl-horizontal">
                    <dt>博客</dt>
                    <dd>
                        <a href="http://534534534/" target="_blank" class="text-primary">http://534534534</a>
                    </dd>
                    <dt>新浪微博</dt>
                    <dd>
                        <a href="http://weibo.com/u/1739928273?c=spr_qdhz_bd_baidusmt_weibo_s&amp;nick=%E8%8B%8D%E4%BA%95%E7%A9%BA" target="_blank" class="text-primary">http://weibo.com/u/1739928273?c=spr_qdhz_bd_baidusmt_weibo_s&amp;nick=%E8%8B%8D%E4%BA%95%E7%A9%BA</a>
                    </dd>
                    <dt>自我描述</dt>
                    <dd>
                        <p>5345345345345</p>
                    </dd>
                </dl>
            </div>
            <div id="company">
            <legend>工作经历</legend>
            <ul class="list-unstyled resume-item-group">
                <li>
                    <h4>2014.01 &nbsp;-&nbsp;
                                至今
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                234234234                    &nbsp;&nbsp;&nbsp;&nbsp;
                                34234324                    &nbsp;&nbsp;&nbsp;&nbsp;
                                ￥8001-15000
                    </h4>
                    <p>4234234234</p>
                </li>
            </ul>
            </div>
            <div id="project">
                <legend>项目经验</legend>
                <ul class="list-unstyled resume-item-group">
                <li><h4>2014.01                    &nbsp;-&nbsp;
                                至今
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                423423                    &nbsp;&nbsp;&nbsp;&nbsp;
                                42342343
                    </h4>
                    <p>4234234</p>
                </li>
                <li><h4>2014.01                    &nbsp;-&nbsp;
                                至今
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                4234234                    &nbsp;&nbsp;&nbsp;&nbsp;
                                234234234</h4><p>432423</p>
                </li>
                </ul>
            </div>
            <div id="education"><legend>教育经历</legend>
                <ul class="list-unstyled resume-item-group resume-item-group-sm"><li><h4><span>2010.09 - 2014.07</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>432423</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>4234234</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>本科</span></h4></li>
                </ul>
            </div>
            <div id="attachment">
                <legend>附件简历/作品展示</legend>
                <ul class="list-unstyled resume-item-group resume-item-group-sm">
                    <li>
                        <a class="text-primary" target="_blank" href="http://www.jobtong.com/file?attach_file_id=505246&amp;apply_id=240247">ScreenShot00000.jpg</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-3 col-2-right col-2-right-resume-view resume-view-toolbar hidden-print affix-top" data-spy="affix" data-offset-top="80">
        <ul id="operation-board" class="list-unstyled">
        <li><a class="js-operation-btn" href="http://www.jobtong.com/WeiUserAdminApplyOperation/switchApplyStatus/apply_id/240247/status/ACCEPTOFFER"><i class="fa"><img src="__PUBLIC__/images/jieshou.gif"/></i>接受offer</a></li>
        <li><a data-toggle="modal" data-target="#operationNoteEditDialog"><i class="fa"><img src="__PUBLIC__/images/beizhu.gif"/></i>添加备注</a></li>
        <li><a href="http://www.jobtong.com/WeiUserAdmin/resumeScreenShot/apply_id/240247" target="_blank"><i class="fa"><img src="__PUBLIC__/images/xiazai.gif"/></i>下载简历</a></li>
        <li><a href="javascript:;" onclick="window.print();"><i class="fa"><img src="__PUBLIC__/images/dayin.gif"/></i>打印简历</a></li>
        </ul>
    </div>
    </div>
</div>
<!--main end=============主体-->
<!--footer start=============底部-->
<include file="Public/footerCompany"/>